

h1{
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:red
}



header{
    height: 400px;
    background-color: black;
}


nav{
    height: 100px;
    background-color: gray;
}

main{
    height: 1000px;
    background-color:rgb(178, 191, 178);
}


footer{
    height: 300px;
    background-color: black;
}